body {
	margin-top: 50px;
	background-color: #0F2F3A !important;
}

.img-container img {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.errorMsg {
    font-weight: bold;
    color: red;
    white-space: pre-wrap;
}

/* Enagement Advisor, Field Service Advisor, etc. */
.header-text {
    color: #8ec63e;
	font-size: 27px;
    font-weight: 500;
    margin-top: 2rem;
    padding-left: 15px;
}

.loading {
    margin-top: -2rem;
    z-index: 100;
}

.mar10r {
    margin-left: 10px;
}

.watson-loading-gif {
    width: 50px;
}

.dialog-name-span {
    font-weight: bold;
}

.conversation-div {
    margin-bottom: 20px;
}

.chat-human {
    text-align: right;
}

.chat-watson {
    text-align: left;
}

#name {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left: 0px;
}

#file {
    border: 0px;
}

.new-dialog-container {
    border: 1px solid #e6e7e8;
    cursor: pointer;
    padding: 1.2rem;
    margin-top: 2rem;
}

.new-dialog-container-loading {
    margin-top: 10rem;
    margin-bottom: 11.1rem;
}

.new-dialog-container:hover {
    border: 1px solid #00B2EF;
}

.dialog-flow-title:hover {
    color: #00B2EF;
}

.selected {
    border: 1px solid #00B2EF;
}

.new-dialog-input-container {
    margin: 6.75rem 0;
}

.create-btn:hover {
    color: #00B2EF;
    background-color: #fff;
    border: 1px solid #00B2EF;
}

.dialog-flow-title {
    text-align: center;
    margin: 13rem 0;
    line-height: 0px;
    font-size: 41px;
}

.exist-dialog-flow-title {
    text-align: center;
    margin: 13rem 0 11.2rem;
    line-height: 0px;
}

.new-dialog-flow-content {
    display: none;
}

.dialog-links {
    float: right;
}

.dialogs-loading {
    margin-top: 11rem;
}

.dialogs-error {
    margin-top: 11rem;
}

.chat-watson {
    border: 1px solid #e6e7e8;
    padding: 0.5rem;
    width: 90%;
    float: left;
	color: #ffffff;
    background-color: #8ec63e;
}

.chat-human {
    border: 1px solid #e6e7e8;
    padding: 0.5rem;
    width: 90%;
    float: right;
    background-color: #e0e0df;
}

.conversation-well {
	min-height: 150px;
}

.no-padding-right {
    padding-right: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

#response-input {
    border: 2px solid #e6e7e8;
    height: 34px;
}

#send-btn {
    border: 2px solid #e6e7e8;
    border-left: 0px;
}

.conversation-flow-container {
    border: 1px solid #e6e7e8;
    background-color: #fff;	 
    padding: 1rem 0;
}

/* blue background */
.conversation-div {
    background-color: #0f2f3a;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom: 3rem!important;
}

.information-container {
    margin-bottom: 20px;
    color: #e0e0e0;
}

.profile-container {
    color: #e0e0e0;
}

/* Talk with IBM Watson... */
.green-title {
	font-size: 22px;
    color: #e5e5e5;
}
.navbar {
	background: #222C36;
	height: 50px;
	line-height: 50px;
	font-weight: 300;
	font-size: 9pt;
	z-index: 150;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	border-radius: 0;
}

.navbar .nb-left-area {
	float: left;
	height: 50px;
	color: #ffffff;
}

.navbar .nb-button-link {
	position: relative;
	text-decoration: none;
	color: #94a3ab;
	margin: 0 10px 0 10px;
	height: 50px;
}

.navbar .nb-left-area .nb-bluemix-logo {
  vertical-align: top;
  margin-top: 8px;
  width: 32px;
  height: 32px;
}

.glyphicon-menu-hamburger {
	display: none;
	font-size: 14px;
    color: #94A3AB;
    padding: 3px;
    cursor: pointer;
    margin-left: -7px;
}

.glyphicon-menu-hamburger:hover {
	color: #5AAAFA;
}

.navbar .nb-left-area .nb-devopsservices-text {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}
